{
  "FACEBOOK_CLIENTID": "684827763768-cea5db6se7mfrvq9r5khsnqb32o5vgbj.apps.googleusercontent.com",
  "FACEBOOK_SECRET": "SdzK81cqlTnd4yuZ5ytR7_Fi",
  "TWITTER_CLIENTID": "684827763768-cea5db6se7mfrvq9r5khsnqb32o5vgbj.apps.googleusercontent.com",
  "TWITTER_SECRET": "SdzK81cqlTnd4yuZ5ytR7_Fi",
  "GITHUB_CLIENTID": "684827763768-cea5db6se7mfrvq9r5khsnqb32o5vgbj.apps.googleusercontent.com",
  "GITHUB_SECRET": "SdzK81cqlTnd4yuZ5ytR7_Fi",
  "LINKEDIN_CLIENTID": "684827763768-cea5db6se7mfrvq9r5khsnqb32o5vgbj.apps.googleusercontent.com",
  "LINKEDIN_SECRET": "SdzK81cqlTnd4yuZ5ytR7_Fi",
  "GOOGLE_CLIENTID": "684827763768-cea5db6se7mfrvq9r5khsnqb32o5vgbj.apps.googleusercontent.com",
  "GOOGLE_SECRET": "SdzK81cqlTnd4yuZ5ytR7_Fi",
  "IMAGER_S3_KEY": "KEY",
  "IMAGER_S3_SECRET": "SECRET",
  "IMAGER_S3_BUCKET": "BUCKET"
}
